@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";





body{
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
}

#containerOptions{
    display: grid;
}
.button{
    margin: 20px;
}





